.work-section-wrapper {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.work-section-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.work-section-top h1 {
  max-width: 700px !important;
  color: #4c4c4c;
}

.work-section-bottom {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.work-section-info {
  width: 290px;
  min-height: 350px;
  background-color: #f1e3e3;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 1rem;
  color: #505050;
  margin: 1rem 2rem;
}

.work-section-info h2 {
  margin: 1rem 0;
}

.work-section-info p {
  flex: 1;
  display: flex;
  align-items: center;
  font-weight: 600;
}

.info-boxes-img-container {
  font-size: 100px;
  color: pink;
}

@media (max-width: 800px) {
  .work-section-wrapper {
    margin-top: 3rem !important;
  }

  .work-section-bottom {
    margin-top: 1rem !important;
  }
}