.home-banner-container {
  position: relative;
  display: flex;
  padding-top: 4rem;
}

.home-bannerImage-container {
  position: absolute;
  top: -100px;
  right: -150px;
  z-index: -2;
  max-width: 100%;
}

.home-text-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.home-image-section {
  flex: 1;
  display: flex;
}

.home-primary-image img {
  width: 750px;
  height: 640px;
  object-fit: cover;
  margin-left: 170px;
}

@media (max-width: 800px) {
  .home-bannerImage-container {
    max-width: 450px;
  }

  .home-primary-image img {
    width: 376px;
    height: 314px;
    object-fit: cover;
    margin-left: 5px;
  }

  .home-banner-container {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .home-image-section {
    width: 100%;
    max-width: 400px;
  }

  .home-text-section {
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-left: 0 !important;
  }
}

@media (max-width: 600px) {
  .home-bannerImage-container {
    display: none;
  }
}