* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Reem Kufi", sans-serif !important;
}

img {
  max-width: 100%;
  height: auto;
}

.App {
  min-height: 500vh;
  width: 85vw;
  max-width: 1900px;
  margin: 0rem auto;
}

body {
  max-width: 100%;
  /* overflow: hidden; */
  background-color: #fff;
}

.primary-subheading {
  font-weight: 700;
  color: rgb(253, 127, 148);
  font-size: 3rem;
}

.primary-heading {
  font-size: clamp(2rem, 5vw, 4rem);
  color: #4c4c4c;
  max-width: 600px;
}

.primary-text {
  font-size: clamp(1rem, 3vw, 1.5rem);
  color: #6a6a6a;
  margin: 1.5rem 0rem;
}

.secondary-button {
  padding: 1rem 2.5rem;
  background-color: #5dcefb;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.secondary-button:hover {
  background-color: #81d5f7;
}

.secondary-button svg {
  margin-left: 0.75rem;
  font-size: 1.5rem;
}

@media (max-width: 800px) {
  .App {
    min-height: 750vh;
    max-width: 95vw;
  }

  .primary-heading {
    text-align: center;
    max-width: 90%;
  }

  .primary-subheading {
    text-align: center;
  }

  .primary-text {
    text-align: center;
    max-width: 80%;
  }

  .secondary-button {
    font-size: 1rem;
    padding: 0.8rem 2rem;
    cursor: pointer;
  }
}
