nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 90px;
}

.nav-logo-container {
  max-width: 120px;
  max-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-bar-links-container a {
  margin-right: 3rem;
  text-decoration: none;
  color: #000;
  font-size: 1.1rem;
  font-weight: 600;
}

.primary-button {
  padding: 0.9rem 1.75rem;
  background-color: rgb(247, 182, 193);
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.primary-button:hover {
  background-color: #5dcefb;
}

.nav-bar-menu-container {
  display: none;
}

@media (max-width: 800px) {
  .nav-logo-container {
    max-width: 100px;
  }

  .nav-bar-links-container {
    display: none;
  }

  .nav-bar-menu-container {
    display: flex;
  }
}
